Book Reference: page 363-367 of **Python for Data Analysis Book by Wes McKinney**

# Chapter 12 Advanced Pandas

## Categorical Data

In [8]:
import numpy as np
import pandas as pd

In [9]:
values = pd.Series(['carrot', 'cabbage', 'carrot', 'carrot'] * 2)

In [10]:
values

0     carrot
1    cabbage
2     carrot
3     carrot
4     carrot
5    cabbage
6     carrot
7     carrot
dtype: object

In [11]:
pd.unique(values)

array(['carrot', 'cabbage'], dtype=object)

In [12]:
pd.value_counts(values)

carrot     6
cabbage    2
dtype: int64

Best practice in data warehousing is to use
- dimension tables 
    - contains the distinct values and storing the primary observations as integer keys referencing the dimension table

In [15]:
values = pd.Series([0, 1, 0, 0] * 2)
dim = pd.Series(['cabbage', 'carrot'])

In [16]:
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [17]:
dim

0    cabbage
1     carrot
dtype: object

We can use the take method to restore the original Series of strings:

In [18]:
dim.take(values)

0    cabbage
1     carrot
0    cabbage
0    cabbage
0    cabbage
1     carrot
0    cabbage
0    cabbage
dtype: object

The example above is called
**categorical or dictionary-encoded representation**

terms:
- categories - array of distinct values
- category codes - integer values referencing the categories

## Categorical Type in pandas

In [19]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N = len(fruits)

In [20]:
df = pd.DataFrame({'fruit': fruits,
                 'basket_id': np.arange(N),
                 'count': np.random.randint(3, 15, size=N),
                 'weight': np.random.uniform(0, 4, size=N)},
                 columns = ['basket_id', 'fruit', 'count', 'weight'])

In [21]:
df

   basket_id   fruit  count    weight
0          0   apple     12  3.812703
1          1  orange     12  0.189694
2          2   apple      4  3.354923
3          3   apple      9  1.077639
4          4   apple      9  1.585309
5          5  orange     13  2.874244
6          6   apple      5  3.420391
7          7   apple      5  2.877060

In [22]:
df['fruit']

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: object

In [23]:
fruit_cat = df['fruit'].astype('category')

In [24]:
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [25]:
c = fruit_cat.values

In [27]:
type(c)

pandas.core.arrays.categorical.Categorical

In [28]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [29]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [30]:
df['fruit'] = df['fruit'].astype('category')

In [31]:
df.fruit

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

Given categories and codes, you can declare a Categorical object through

In [32]:
categories = ['a', 'b', 'c']
codes = [0, 1, 2, 0, 0, 1]

In [33]:
cat2 = pd.Categorical.from_codes(codes, categories)
cat2

[a, b, c, a, a, b]
Categories (3, object): [a, b, c]

You can make the categories ordered through adding a parameter `ordered = True` when declaring a Categorical object

In [34]:
ordered_cat = pd.Categorical.from_codes(codes, categories,
                                       ordered = True)

In [35]:
ordered_cat

[a, b, c, a, a, b]
Categories (3, object): [a < b < c]

Or, convert an unordered Categorical object to ordered

In [36]:
cat2.as_ordered()

[a, b, c, a, a, b]
Categories (3, object): [a < b < c]